@model  List<ETradeProject.Models.CategoryModel>

@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><a href="@Url.Action("GetByCategory","Products",new {id=item.ID })">@item.Name</a></h4>
        </div>
    </div>
}
